<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Mediflection</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div class="container">
    <%= render 'login/fb' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    </div>
  </body>
</html>
